* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

:root {
    --font-button: 1.2rem;
    --font-small: 1rem;
    --weight-small: 500;
    --font-medum: 1.3rem;
    --weight-medum: 650;
    --font-large: 2rem;
    --weight-larger: 800;
    --color-main: #af9483;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-fam: "Solway", serif;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    text-align: left;
    background-color: #fffbf2;
}




html {
    scroll-behavior: smooth;
}

.navbar {
    font-family: "Product Sans", Poppins;
    transition: all 0.4s ease-in-out;
}

.logo {
    text-transform: uppercase;
    font-size: var(--font-large);
}

.nav-link {
    font-size: var(--font-medum);
}

.scrolled {
    background-color: var(--color-main);
    box-shadow: 0px 0px 10px 0px var(--light);
}

.hero {
    position: relative;
    width: 100%;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("./pic/profile.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 4rem;
    /* height: 600px; */
}

.hero::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.logo-img {
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 100;
    border-radius: 50%;
    overflow: hidden;
    width: auto;
    height: 380px;
}

.logo-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.margin-img {
    margin-top: 16%;
}

.text h1 {
    font-size: 5vw;
    font-family: var(--font-family-monospace);
    font-weight: var(--weight-larger);
    color: var(--light);
    text-transform: uppercase;
}

.text h2 {
    font-family: var(--font-family-monospace);
    font-weight: var(--weight-larger);
    color: var(--light);
    font-size: 3.5vw;
}

.text h3 {
    font-family: var(--font-family-monospace);
    font-weight: var(--weight-larger);
    font-size: 3vw;
    color: var(--color-main);
}

.text h1 span {
    font-family: var(--font-family-monospace);
}

.text p {
    margin: auto;
    width: 80%;
    font-size: var(--font-small);
    color: var(--light);
    opacity: 0.8;
}

.btn-hire {
    font-size: var(--font-button);
    color: var(--light);
    border: 1px solid var(--color-main);
    background-color: transparent;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.btn-hire:hover {
    background-color: var(--color-main);
}

.back-to-top {
    position: fixed;
    display: none;
    background: #AF9483;
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;

}


.btn-primary {
    outline: none;
    color: var(--light);
    background-color: var(--color-main);
    border: none;
}

.btn-about {
    font-size: var(--font-small);
    color: var(--color-main);
    background-color: transparent;
    outline: none;
    border: 1px solid var(--color-main);
    padding: 0.5rem 1.5rem;
    transition: all .4s ease-in-out;
}

.btn-about:hover {
    color: var(--light);
    background-color: var(--color-main);
}

.progress {

    border-radius: 20px;
    height: 1rem;
    background-color: #e9ecef;
}

.progress::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--color-main);
}

.title-skill {
    font-family: "Product Sans", Poppins;
    font-weight: var(--weight-larger);
    color: var(--color-main);
}

.title-about h1 {
    font-weight: var(--weight-larger);
    color: var(--color-main);
}

.title-about p {
    font-weight: var(--weight-small);
    color: var(--dark);
}

.card-body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: var(--color-main);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.card:hover ::after {
    opacity: 1;
}

.card {
    background-color: #e9ecef;
    ;
    border: none;
    color: #666666;
    transition: all 0.4s ease-in-out;
}

.card h5 {
    color: var(--color-main);
}

.card:hover {
    color: var(--light);
    box-shadow: 0px 0px 10px var(--dark);
}

.card:hover i {
    transform: scale(1.2);
}

i {
    transition: all 0.4s ease-in-out;
}

.card:hover h5 {
    color: var(--light);
}

.card:hover:hover .btn-primary {
    background-color: var(--light);
    color: var(--color-main);
}

.icon {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 20px;
    text-align: center;
    width: 120px;
    color: #AF9483;
}

.list {
    list-style: none;
    margin-top: 1rem;
}

.list a {
    font-size: var(--font-small);
    text-decoration: none;
    color: var(--dark);
    border: 1px solid var(--color-main);
    padding: 0.5rem 1rem;
    transition: all 0.4s ease-in-out;
}


#portfolio-flters li {
    cursor: pointer;
    margin: 15px -3px 5px -3px;
    display: inline-block;
    padding: 10px 15px;
    color: #AF9483;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

#portfolio-flters li:hover {
    color: var(--light);
    background-color: var(--color-main);
}

#portfolio-flters {
    padding: 0;
    margin: -15px 0 30px 0;
    list-style: none;
    text-align: center;
}

.portfolio-item figure {
    background: #AF9483;
    overflow: hidden;
    height: 220px;
    position: relative;
    border-radius: 0;
    margin: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}


.portfolio-item:hover .img-fluid {
    transform: scale(1.1);
}

.portfolio-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: 0.2s linear;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    z-index: 20;
}

.portfolio-item:hover::after {
    opacity: 1;
}

.portfolio-item:hover .content-port {
    top: 50%;
}

.content-port {
    padding: 1.5rem;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 50%;
    text-align: center;
    background: rgba(256, 256, 256, .8);
    transition: 0.2s linear;
    z-index: 10;
}

.content-port h2 {
    font-size: var(--font-medum);
    font-weight: var(--weight-medum);
    color: var(--color-main);
}

.content-port h4 {
    font-size: var(--font-small);
    color: var(--light);
}

.link-pre {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 60px;
    height: 40px;
    transition: 0.2s linear;
    top: 30%;
    left: 45%;
    z-index: 10;
}

.link-pre i {
    font-size: var(--font-large);
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-shadow: 0px 0px 10px var(--dark);
}

.portfolio-item:hover .link-pre {
    opacity: 1;
}

.rate {
    text-align: center;
}

.rate h2 i {
    font-size: 60px;
    transition: all 400ms linear 0s;
    font-weight: var(--weight-larger);
    color: var(--light);
    margin-bottom: 1rem;
}

.rate h3 {
    font-family: 'Solway', serif;
    font-size: var(--font-medum);
    transition: all 400ms linear 0s;
    font-weight: var(--weight-larger);
    color: var(--light);
    margin-top: 1rem;
}

.rate h1 {
    font-size: 3.5rem;
    transition: all 400ms linear 0s;
    font-weight: var(--weight-larger);
    color: var(--light);
    margin-top: 1rem;
}

.rate h2 {
    transition: all 400ms linear 0s;
    font-weight: var(--weight-larger);
    color: var(--light);
    margin-top: 1rem;
}

.contact .form input,
.contact .form textarea {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #AF9483;
    border-radius: 0;
    box-shadow: none;
    background-color: #fffbf2;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row>.col,
.form-row>[class*=col-] {
    /* padding-right: 5px; */
    padding-left: 5px;
}

.form-row {
    margin-bottom: 1.5rem;
}

.contact .form button[type="submit"] {
    padding: 7px 30px 10px 30px;
    color: #AF9483;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #AF9483;
    background-color: #fffbf2;
    margin-top: 1rem;
}

.contact .form button:hover {
    background-color: var(--color-main);
    color: var(--light);
}

.social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 1px 0;
    text-align: center;
    font-size: 22px;
    border: 1px solid #AF9483;
    transition: all 0.4s ease-in-out;
    color: #AF9483;
}

.social a i {
    transition: 0.3s;
}

.social a:hover {
    background-color: var(--color-main);
    color: var(--light);
    box-shadow: 0px 0px 10px var(--dark);
}

.info p {
    font-size: 22px;
    font-weight: var(--weight-small);
    letter-spacing: 1px;
    opacity: 0.7;
}

.info p i {
    color: var(--color-main);
    text-decoration: none;
    transition: 0.3s;
    margin-right: 1rem;
    width: 30px;
}

.footer {
    background-color: black;
    color: #ffffff;
    padding: 2rem 0rem 3rem 0rem;
    text-align: center;
}

.footer p {
    font-size: var(--font-medum);
    font-weight: var(--weight-small);
    color: #999999;
    margin-top: 1rem;
}

.footer h4 {
    font-size: var(--font-medum);
    font-weight: var(--weight-small);
    color: #999999;
    margin-top: 1rem;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

.sf-with-ul i {
    font-size: 1rem;
    opacity: 0.8;
    margin-left: 0.5rem;
}



.logo-cilent img {
    width: 100%;
    height: auto;
}

.cilent {
    background: url(./pic/portfolio-1.jpg) center top no-repeat fixed;
    background-size: cover;
    padding: 40px 0 60px 0;
    text-align: center;
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    overflow: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}